@model _2024_2C_SushiPOP_G5.Models.Descuento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Descuento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Porcentaje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Porcentaje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescuentoMax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescuentoMax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
